@model Professor
@{
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowDetail</title>
    </head>

    <body>
        <h1>Affichage des details de l'etudiant: @ViewBag.professor.LastName, @ViewBag.professor.FirstName, @ViewBag.professor.Rank </h1>
    </body>

    </html>
}